<div class="modal modal-vcenter fade" id="loginModal" tabindex="-1" role="dialog">
    <div class="modal-dialog login-popup" role="document">
        <div class="modal-content">
            <div class="close-icon" aria-label="Close" data-dismiss="modal" ><img src="images/close-icon.png" alt=""></div>
            <div class="left-img"><img src="images/login-leftImg.png" alt=""></div>
            <div class="right-info">
                <h1>Login</h1>
                <div class="sosal-midiyaLogin">
                    <div class="facebook-link">
                        <a href="#"><span class="icon icon-facebook"></span>Sign in with Facebook</a>
                    </div>
                    <div class="google-link">
                        <a href="#"><span class="icon icon-google-plus"></span>Sign in with Google+</a>
                    </div>
                </div>
                <div class="or-text"><span>OR</span></div>
                <div class="input-form">
                    <div class="input-box">
                        <div class="icon icon-user"></div>
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="input-box">
                        <div class="icon icon-lock"></div>
                        <input type="text" placeholder="Password">
                    </div>
                    <div class="check-slide">
                        <div class="check">
                            <label class="label_check" for="checkbox-02"><input type="checkbox" name="sample-checkbox-01" id="checkbox-02" value="1" checked="">Remember me</label>

                        </div>
                        <a href="#">Forgot password ?</a>
                    </div>
                    <div class="submit-slide">
                        <input type="submit" value="Login" class="btn">
                    </div>
                </div>
                <div class="signUp-link">Haven’t signed up yet? <a href="javascript:void(0);">Sign Up</a></div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-vcenter fade" id="registrationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog registration-popup" role="document">
        <div class="modal-content">
            <div class="close-icon" aria-label="Close" data-dismiss="modal" ><img src="images/close-icon.png" alt=""></div>
            <h1>New Member Registration</h1>
            <div class="registration-form">
                <div class="info">
                    <h2>Why to sign up</h2>
                    <ul>
                        <li>Exclusive discounts for all bookings</li>
                        <li>Full access all discounted prices</li>
                        <li>Dedicated wed-ordinator for your event</li>
                        <li>Custom event planner for your event</li>
                    </ul>
                </div>
                <div class="form-filde">
                    <div class="input-box">
                        <input type="text" placeholder="Email ID">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Username">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Password">
                    </div>
                    <div class="input-box">
                        <input type="text" placeholder="Phone">
                    </div>
                    <div class="captcha-box">
                        <input type="text" placeholder="Enter Captcha">
                        <div class="captcha-img"><img src="images/capcha-img.png" alt=""></div>
                    </div>
                    <div class="note">Can’t Read ?<a href="#">Refresh</a></div>
                    <div class="check-slide">
                        <label class="label_check" for="checkbox-03"><input type="checkbox" name="sample-checkbox-01" id="checkbox-03" value="1" checked="">By signing up, I agree to EventPlanning terms of services</label>
                    </div>
                    <div class="submit-slide">
                        <input type="submit" value="Register" class="btn">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
