{% extends "FullLayout.html.twig" %}
{% block content %}



<section class="page-header">
    <div class="container">
        <h1>partageer vos Experiences</h1>
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="home-event">
            <div class="heading">
                <div class="icon"><em class="icon icon-heading-icon"></em></div>
                <div class="text">
                    <h2>partager vos Experiences </h2>
                </div>
                <div class="info-text"> <B>LA vie a beaucoup d'imagination que nous </B></div>
                <div class="stickLine"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <p>Le voyage est ma maison</p>
                        <p>si tu n'as pas étudié voyage</p>
                        <p>Que l'on parte loin ou que l'on s'évade en imagination, le voyage est accessible à tous. S'il forme la jeunesse, les auteurs lui prêtent bien d'autres vertus. A découvrir immédiatement...</p>
                    </div>
                </div>

<section class="contackForm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>alors?</h2>
            </div>





        </div>
    </div>
</section>

{% endblock %}