{% extends "layout.html.twig" %}
{% block content %}

<div class="register-banner">
    <img src="images/banner-img/registration-banneBg.png" alt="" class="register-bannerImg">
    <div class="inner-banner">
        <div class="text">Lorem Ipsum has been the when an unknown printer took a  <span> galley of type</span></div>
        <div class="register-form">
            <div class="inner-form">
                <h1>Register Now</h1>
                <div class="form-filde">
                    <div class="input-slide">
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="input-slide">
                        <input type="text" placeholder="Email ID">
                    </div>
                    <div class="input-slide">
                        <input type="text" placeholder="Company Name">
                    </div>
                    <div class="select-row">
                        <select name="city" id="country_select" tabindex="1">
                            <option>Tunis</option>
                            <option>Sfax</option>
                            <option>sousse</option>
                            <option>Nabeul</option>
                        </select>
                    </div>
                    <div class="select-row">
                        <select name="city" id="services_select" tabindex="1">
                            <option>Type de services</option>
                            <option>Logement</option>
                            <option>Guide</option>
                            <option>Amical</option>
                            <option>Moyen du transport</option>
                        </select>
                    </div>
                    <div class="input-slide">
                        <input type="text" placeholder="Numero de téléphone">
                    </div>
                    <div class="input-slide">
                        <input type="text" placeholder="Mot de passe">
                    </div>
                    <div class="check-slide">
                        <label for="checkbox-99" class="label_check c_on"><input type="checkbox" value="1" id="checkbox-99" name="sample-checkbox-01">J'accepte les conditions d'utilisation de Dari darek</label>
                    </div>
                    <div class="submit-slide">
                        <input type="submit" value="Enregistrer" class="btn">
                    </div>
                </div>
            </div>
            <div class="normal-link">
                <a href="#"></a>
            </div>
        </div>
    </div>
</div>
<div class="register-content">
    <div class="benefits">
        <div class="container">
            <div class="heading">
                <div class="icon"><em class="icon icon-heading-icon"></em></div>
                <div class="text">
                    <h2>Benefits</h2>
                </div>
            </div>
            <div class="benefits-view">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="box-view">
                            <div class="iconBox icon1"><div class="icon icon-conversion-rates"></div></div>
                            <div class="text">Increase your conversion rates</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="box-view">
                            <div class="iconBox icon2"><div class="icon icon-customer-base"></div></div>
                            <div class="text">Increase customer base</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="box-view">
                            <div class="iconBox icon3"><div class="icon icon-negotiations"></div></div>
                            <div class="text">Low multiple negotiations</div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="box-view">
                            <div class="iconBox icon4"><div class="icon icon-wider-customer"></div></div>
                            <div class="text">Wider customer reach</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="choose-us">
        <div class="container">
            <div class="heading">
                <div class="icon"><em class="icon icon-heading-icon"></em></div>
                <div class="text">
                    <h2>Why Choose Us?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="functionality-box">
                        <div class="iconBox"><div class="icon icon-lead-management"></div></div>
                        <h3>Lead Management</h3>
                        <p>Increase occupancy, automate the lead management process, grow your  customer relationships, match sales-ready leads to the appropriate sales people.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="functionality-box">
                        <div class="iconBox"><div class="icon icon-sales"></div></div>
                        <h3>Sales</h3>
                        <p>Track sales opportunities, manage the sales process and generate proposals. Built-in process provides an aggregate view of account activity from the past, present and future.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="functionality-box">
                        <div class="iconBox"><div class="icon icon-booking"></div></div>
                        <h3>Booking</h3>
                        <p>Manage calendars , share availability, easily view events color-coded by status, type or location. Book and manage multiple spaces, venues, and sites all from one master calendar.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="functionality-box">
                        <div class="iconBox"><div class="icon icon-operations"></div></div>
                        <h3>Operations</h3>
                        <p>Assign resources and review stock alerts. Create detailed reports, work orders, and generate invoices. Receive alerts on changes as they take place.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="work-info">
        <div class="container">
            <div class="heading">
                <div class="icon"><em class="icon icon-heading-icon"></em></div>
                <div class="text">
                    <h2>How it works</h2>
                </div>
                <div class="info-text">Once you have registered, listing on Event Planning is just a four step process</div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                    <div class="box">
                        <div class="iconBox">
                            <div class="inner-box">
                                <div class="icon icon-step-1"></div>
                            </div>
                        </div>
                        <div class="text"><span>1.</span> List your venues on Event Planning</div>
                    </div>
                    <div class="box">
                        <div class="iconBox">
                            <div class="inner-box">
                                <div class="icon icon-step-2"></div>
                            </div>
                        </div>
                        <div class="text"><span>2.</span> Connect to customers</div>
                    </div>
                    <div class="box">
                        <div class="iconBox">
                            <div class="inner-box">
                                <div class="icon icon-step-4"></div>
                            </div>
                        </div>
                        <div class="text"><span>3.</span> Increase your business</div>
                    </div>
                    <div class="box last">
                        <div class="iconBox">
                            <div class="inner-box">
                                <div class="icon icon-step-3"></div>
                            </div>
                        </div>
                        <div class="text"><span>4.</span> You receive payment from Event Planning</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="price-info">
        <div class="container">
            <div class="heading">
                <div class="icon"><em class="icon icon-heading-icon"></em></div>
                <div class="text">
                    <h2>Pricing</h2>
                </div>
                <div class="info-text">Enjoy promotional rates for listing on Event Planning for a limited period only</div>
            </div>
            <div class="listing-view">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="list">No monthly subscription fee</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="list">Listing of venues absolutely free</div>
                    </div>
                    <div class="col-sm-4">
                        <div class="list">Zero installation charges</div>
                    </div>
                </div>
            </div>
            <div class="register-btn">
                <a href="#" class="btn">Register Now</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}