<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-md-3 text-center">
                    <div class="footer-link">
                        <h5>Experiences</h5>
                        <ul>
                            <li><a href="{{ path('aboutUs_page') }}">Evaluation</a></li>
                            <li><a href="{{ path('blog_page') }}">Blogs</a></li>
                            <li><a href="{{ path('contact_page') }}">partager vos Experiences</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-md-3">
                    <div class="footer-contact">
                        <h5>Contacter nous </h5>
                        <div class="contact-slide">
                            <div class="icon icon-location-1"></div>
                            <p>74 West Main Street, Oyster Bay, Berlin, 10963 - Germany </p>
                        </div>
                        <div class="contact-slide">
                            <div class="icon icon-phone"></div>
                            <p>516-482-2181 ext 101</p>
                        </div>

                        <div class="contact-slide">
                            <div class="icon icon-message"></div>
                            <a href="MailTo:DariDarek@gmail.com">MailTo:DariDarek@gmail.com</a>
                        </div>
                    </div>
                </div>


        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>Copyright &copy; <span></span> - DariDarek  | Tous droits réservés</p>
        </div>
    </div>
</footer>