<header id="headerRegister">
    <div class="container">
        <div class="logo"><a href="index.html"><img src="{{ asset('templates/120.72.91.53/themeforest/event_planning/images/logo.png') }}" alt="logo"></a></div>

        <div class="register-pageLogin">
            <div class="login-title">
                <label>Pseudo </label>
                <a href="#">Mot de passe oublié?</a>
            </div>
            <div class="login-box">
                <div class="input-box">
                    <input type="text" placeholder="Email ">
                    <div class="icon icon-user"></div>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Mot de passe">
                    <div class="icon icon-lock"></div>
                </div>
                <div class="submit-box">
                    <input type="submit" class="btn" value="Connexion">
                </div>
            </div>
        </div>
    </div>
</header>